body {
  background-color: #000;
  color: #0f0;
  font-family: 'Courier New', Courier, monospace;
}
h1 {
  font-family: monospace;
  font-size: 5em;
  text-align: center;
  margin-top: 1em;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
}
.container label {
  font-size: 1.5em;
  margin-bottom: 1em;
}
.container input[type="text"] {
  background-color: #fff;
  border: none;
  border-radius: 3px;
  color: #000;
  font-size: 2em;
  padding: 0.5em;
  text-align: center;
  width: 10em;
  transition: all 0.3s ease-in-out;
}
.container input[type="text"]:focus {
  outline: none;
  box-shadow: 0 0 10px #f00;
}
.container button {
  background-color: #f00;
  border: none;
  border-radius: 3px;
  color: #0f0;
  cursor: pointer;
  font-size: 1.5em;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0.5em 1em;
  transition: all 0.3s ease-in-out;
}
.container button:hover {
  background-color: #cc0000;
}
footer {
  text-align: center;
  margin-top: 2em;
  font-size: 0.8em;
  color: #ccc;
}
